*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.mdiv{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(https://t4.ftcdn.net/jpg/05/52/47/31/360_F_552473151_gaBefjYdGK1SNYkQtIfo3HYiXTtj900W.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.container{
	height: 350px;
	width: 250px;
	box-shadow: 0px 0px 20px grey;
	border-radius: 30px;
	padding: 20px;
	background: transparent;
	backdrop-filter: blur(20px);
}
.heading{
	color: darkblue;
	font-family: Castellar;
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;
}
input[type="text"]{
	height: 30px;
	width: 180px;
	padding-left: 10px;
	outline: none;
	font-weight: bolder;
	text-transform: uppercase;
}
.srch_btn{
	border
}