*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.mdiv{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(https://4kwallpapers.com/images/wallpapers/valley-landscape-aesthetic-mountains-gradient-background-2560x1080-4589.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container{
	height: 350px;
	width: 250px;
	box-shadow: 0px 0px 20px grey;
	border-radius: 30px;
	padding: 20px;
	background: transparent;
	backdrop-filter: blur(20px);
}
.heading{
	color: darkblue;
	font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}
input[type="text"]{
	height: 30px;
	width: 190px;
	padding-left: 10px;
	outline: none;
	font-weight: bolder;
	text-transform: uppercase;
}
.srch_btn{
	border: none;
	background-color: transparent;
	padding-top: 20px;
	cursor: pointer;
}
.component{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn{
	margin-top: -2px;
	margin-left: 10px;
}
#city{
	color: darkblue;
	font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.measurement{
	font-family: "Bebas Neue";
	font-weight: bolder;
}
.headings{
	color: darkblue;
	font-family: "Bebas Neue";
	font-size: 18px;
}
